.sideBar{
  width: 210px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: grey;
}
.navBar{
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
  width: calc(100%-210px);
  height: 11vh;
  background-color: grey;
}