.post-view-page{
  padding: 4rem;
}

/* App.css */
.post-detail {
  max-width: 850px;
  margin: 2rem auto;
  background: var(--bg-secondary);
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  /* font-family: Arial, sans-serif; */
  height: auto;
}

.post-header {
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-family: var(--font-heading);
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  background-color: crimson;
  /* color: white; */
}

.date {
  /* color: #888; */
  font-size: 0.85rem;
}

.post-content2 h2 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
}



.post-actions {
  display: flex;
  max-width: 40rem;
  justify-content: space-between;
  margin-top: 1.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.post-actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-primary);
  transition: color 0.3s ease;
}

.post-actions button:hover {
  color: #000;
}

.post-actions button:disabled {
  cursor: not-allowed;
  color: #aaa;
}
.post-content2 p{
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
  /* color: #333; */
  color: var(--text-primary);
  font-family: var(--font-body);

}

.post-content2 h2{
  color: var(--text-primary);  
  font-family: var(--font-body);
}
.comment-section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment-input-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 0.4rem 1rem;
  /* background-color: #fafafa; */
  background: var(--bg-secondary);
  color: var(--text-primary);

}

.comment-input-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: var(--text-primary);
}

.comment-input-box button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.comment-input-box button:hover {
  color: #0056b3;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.comment-card {
  /* background-color: #f5f5f5; */
  background: var(--bg-secondary);
  color: var(--text-primary);
  padding: 0.8rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  position: relative;
  font-family: var(--font-heading);
}

.comment-card p {
  margin: 0.2rem 0 0.4rem;
  font-family: var(--font-body);
  /* color: #333; */
}

.comment-card .comment-date {
  font-size: 0.75rem;
  /* color: #777; */
}

.no-comments {
  color: #999;
  font-style: italic;
  font-size: 0.95rem;
}
