.models-view-page{
  padding: 3rem;
  height: 100%;
}

.model-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  /* padding: 1rem; */
  justify-content: center;
}

.modelBox{
  width: 100%; /* 1 card per row on mobiles */
  max-width: 35rem;
}

@media (min-width: 700px) {
  .modelBox {
    width: 44%; /* 2 cards per row on tablets */
  }
  .model-grid{
    justify-content: start;
  }
}

@media (min-width: 1020px) {
  .modelBox {
    width: 29%; /* 3+ cards per row on large screens */
  }
}

@media (min-width: 1300px) {
  .modelBox {
    width: 22%; /* 4 cards per row on large screens */
  }
}

/* Hero-Headings */

.explore-hero{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  padding: 1rem 1rem;
  font-family: 'Inter', sans-serif;
  /* height: 70vh; */
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05); */
  /* background: linear-gradient(135deg, #e0f7ff, #ffffff); */
  /* border: 1px solid black; */
}

.explore-hero-content-container {
  width: 100%;
  /* margin-top: 2rem; */
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  /* border:1px solid black */
}

.explore-hero-heading {
  line-height: 1.2;
  font-size: 3.5rem;
  font-weight: 750;
  color: var(--text-primary);
}

.highlight{
  color: var(--primary-blue);
}

.explore-hero-subheading {
  font-size: 1.5rem;
  color: var(--text-secondary);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.explore-hero-mobileheading{
  display: none;
}

/* Hero-search */

.model-search-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  position: relative;
}

.model-searchbox{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin:1rem 0 0 0;
  max-width: 45rem;
  border-radius: 2.5rem;
  overflow: visible;
  border: 1px solid var(--text-primary);
  box-shadow: 0 2px 5px rgba(18, 30, 194, 0.04);
  background-color: var(--bg-secondary);
  transition: all 0.3s ease;
}

.model-searchbox:hover{
  background-color: var(--bg-hover2);
}

.model-searchbar{
  flex: 1;
  padding: 1.5rem;
  font-size: 1.25rem;
  border:none;
  outline: none;
  background-color: transparent;
  color: var(--text-primary);
  transition: color 0.2s;
}

.model-search-btn{
  margin: 0 0.5rem 0 0;
  background-color: var(--primary-blue);
  transition: background-color 0.2s ease;
  border: none;
  padding: 1rem;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.75rem;
}

.model-search-btn:hover{
  background-color: #1748c9;
}

.model-search-suggestion-list{
  position: absolute;
  top: calc(100% + 0.3rem); /* just below the searchbox */
  left: 0;
  right: 0;
  background: white;
  /* border: 1px solid #ccc; */
  border-radius:1rem;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow-y: auto;
  z-index: 99;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.model-search-suggestion-list li {
  padding: 1.1rem 1rem 1rem 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.2rem;
  gap:1rem;
}

.model-search-suggestion-list li:hover {
  background-color: #f3f4f6;
}

.model-search-clrbtn{
  border: none;
  border-radius: 2rem;
  background-color: transparent;
  padding-right: 1rem;
  color: grey;
  transition: color 0.2s ease;
}

.model-search-clrbtn:hover{
  color: #111827;
}

/* Hero-Animation */

.explore-hero-animation-container{
  flex-shrink: 0;
}

.explore-hero-animation{
  height: 35rem;
  width: 50rem;
  background-color: transparent;
  border-radius: 3rem;
  object-fit: cover;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

/* Explore subnavbar */
.explore-subnavbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 2rem 0;
  align-items: center;
}

.explore-subnavbar>div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sortby-text{
  display: none;
}

.explore-sortby-type{
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  border-radius: 2rem;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  background-color: #cccccc3d;
}
.explore-sortby-type p{
  margin: 0;
  padding: 0;
}
.explore-sortby-orders{
  border-radius: 1.4rem;
  cursor: pointer;
  background-color: #cccccc3d;
}

.explore-sortby-order{
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.sortby-increasing{
  border-radius: 1.4rem 0 0 1.4rem;
}
.sortby-decreasing{
  border-radius: 0 1.4rem 1.4rem 0;
}

.active{
  background: black;
  color: var(--primary-blue);
  font-size: 1.3rem;
  font-weight: 1000;
  box-shadow: 0 2px 12px rgba(0,0,0,0.8);
  border: 1px solid black;
}

@media (max-width: 1170px) {
  .explore-hero-animation-container{
    display: none; /* remove explore hero animation video */
  }

  .explore-hero-content-container{
    text-align: center;
  }

  .model-search-section{
    align-items: center;
  }

}

@media (max-width:700px) {
  .explore-hero{
    padding: 0rem 0rem;
  }
  .explore-hero-heading{
    display: none;
  }
  .explore-hero-subheading{
    display: none;
  }
  .explore-hero-mobileheading{
    display:inline;
  }
  .explore-hero-content-container{
    margin: 0;
  }
  .sortby-text{
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .explore-sortby-type{
    border: none;
    padding: 0.4rem;
    margin: 0.2rem;
  }
  .explore-sortby-type>p{
    display: none;
  }
  .explore-sortby-order{
    padding: 0.3rem 0.4rem;
    border: none;
  }
  .active{
    background-color: var(--accent);
    color: var(--primary-blue);
  }
}