.navBar {
  position: fixed;
  top: 0;
  left: 47px;
  right: 0;
  display: flex;
  justify-content: space-between;
  height: 9vh;
  background: transparent;
  height: 9vh;
  align-items: center;
  padding: 0 1rem 0 2rem;
  margin: 0;
  z-index: 999;
}

.navItem{
  margin: 0 1rem 0 1rem;
}

.navLeft, .navRight {
  display: flex;
  align-items: center;
}

.navLink {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-primary);
  font-family: var(--font-heading);
  font-size:large;
  font-weight:600;
  transition: background-color 0.4s ease;
  cursor: pointer;
}

.navLink:hover {
  background:var(--bg-hover);
}

.navLink svg {
  transition: transform 0.2s ease, color 0.2s ease;
}
.navLink:hover svg {
  transform: scale(1.1);
  color: var(--primary-blue);
}

.mobile-sidebar-toggle{
  display: none;
}

@media (max-width:650px) {
  .navBar{
    left: 0px;
    padding-left: 0rem;
  }
  .mobile-collapse{
    display: none;
  }
  .mobile-sidebar-toggle{
    display: block;
  }
}
