.sideBar {
  width: 210px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2f3542;
  background-color: grey;
  transition: width 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sideBar.closed {
  width: 47px;
  overflow: hidden;
}

.sideBar.open {
  transform: translateX(0);
}

.inside {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.nav-item {
  padding: 1rem 1rem;
}

.nav-item:hover {
  background-color: #57606f;
  color: #ffffff;
  cursor: pointer;
}
.nav-link.active {
  background-color:#57606f ;
  border-radius: 5px;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #f1f2f6;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.close-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
}

#close-button{
  background-color: #57606f;
  border: none;
  border-radius: 0.3rem;
  padding: 0.8rem;
  margin: 0.5rem;
  cursor: pointer;
}