.sideBar {
  width: 210px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  /*Glassy effect background:*/
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05); 
  transition: width 0.5s ease;
  z-index: 1000;
  overflow-y: auto;
}

.sideBar.closed {
  width: 59px;
  overflow: hidden;
}

.sideBar.open {
  transform: translateX(0);
}

.inside {
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1.3rem 1.3rem;
  border-radius: 4px;
  font-family: var(--font-heading);
  /* font-size: medium; */
  font-weight: 500;
  transition: all 0.3s ease;
  height: 100%;
}
.nav-link:hover {
  background: var(--bg-hover); /* subtle light blue background */
  color: var(--text-secondary);
}

.close-btn {
  display: flex;
  justify-content:flex-end;
  align-items: start;
  min-height: 4rem;
  padding-top: 1rem;
}

#close-button{
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  padding:0.5rem;
  cursor: pointer;
}

#close-button:hover{
  background-color: var(--bg-hover);
}
.nav-item{
  transition: all 0.3s ease;
}