@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.allPages{
  padding: 0;
  position: relative;
  margin-left: 59px;
  left: 0;
  bottom: 0;
  top: 9vh;
  right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

/* App.css */

/* ------------------ Layout ------------------ */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-x: hidden; */
}

.layout {
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
  background-attachment: fixed;
  background-size: cover;
}

/* Theme styling */
:root {
  /* Core Colors */
  --primary-blue: #3a6df0;
  --secondary-blue: #6e8efb;

  /* Dark theme raw colors (unchanged) */
  --bg-primary-dark: linear-gradient(to bottom, #000000 0%, #1092f6 100%);
  --bg-secondary-dark: linear-gradient(-45deg, #05050500 0%, #000407 100%);
  --bg-translucent-dark:#cccccc58;

  --bg-hover-dark:rgba(255, 255, 255, 0.25);
  --bg-hover2-dark:rgba(255, 255, 255, 0.05);

  --text-primary-dark: white;
  --text-secondary-dark: #b0b0ff;

  --accent-dark:#000000;

  /*  Updated Light Theme Colors */
  --bg-primary-light: linear-gradient(to bottom, #ffffff 0%, #cfeaff 100%);
  --bg-secondary-light: linear-gradient(-45deg, #E0F0FF 0%, #689fe6 100%);     /* sections/cards */

  --bg-hover-light:rgba(58, 109, 240, 0.15);
  --bg-hover2-light:rgba(255, 255, 255, 0.75);

  --text-primary-light: black;                /* True black for main text */
  --text-secondary-light: #1e4ecc;              /* Blue for links/subtext/icons */
  --bg-translucent-light:#3a6ef06d;

  --font-heading: 'Poppins', sans-serif;
  --font-subheading: 'Montserrat', sans-serif;
  --font-body: 'Roboto', sans-serif;
  --font-caption: 'Inter', sans-serif;

  --accent-light:white;
}

.light-theme {
  --text-primary: var(--text-primary-light);
  --text-secondary: var(--text-secondary-light);
  --bg-primary: var(--bg-primary-light);
  --bg-secondary: var(--bg-secondary-light);
  --bg-teritiary: var(--bg-secondary-dark);
  --bg-translucent:var(--bg-translucent-light);
  --bg-navbar: var(--bg-navbar-light);
  --bg-hover:var(--bg-hover-light);
  --bg-hover2:var(--bg-hover2-light);
  --accent:var(--accent-light);
}

.dark-theme {
  --text-primary: var(--text-primary-dark);
  --text-secondary: var(--text-secondary-dark);
  --bg-primary: var(--bg-primary-dark);
  --bg-secondary: var(--bg-secondary-dark);
  --bg-teritiary: var(--bg-secondary-light);
  --bg-translucent:var(--bg-translucent-dark);
  --bg-navbar: var(--bg-navbar-dark);
  --bg-hover:var(--bg-hover-dark);
  --bg-hover2:var(--bg-hover2-dark);
  --accent:var(--accent-dark);
}

@media (max-width:650px) {
  .sideBar.closed {
    width: 0px;
    overflow: hidden;
    display: none;
  }
  .allPages{
    margin-left: 0;
  }
}
