.allPages{
    padding: 0;
    position: fixed;
    left:59px;
    bottom: 0;
    top: 9vh;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
/* App.css */

/* ------------------ Layout ------------------ */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}


